.feynman__link {
  text-align: right;
  font-size: 36px;
  line-height: 51px;
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  transform: translateY(-50%);
}
