.footer {
  box-sizing: border-box;
  background-color: #1f1f1f;
  display: flex;
  min-height: 350px;
  padding: 60px 0 40px 0;
}



.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 717px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  color: white;
  font-size: 18px;
  line-height: 25px;
  padding: 18px 0;
  margin: 0;
}

.footer__column-heading {
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
}

.footer__column-links:last-child {
  margin: 0 0 16px 0;
}

.footer__column-link {
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin: 0 10px 0 0;
}
